<form action="/about" method="post">
  <fieldset>
    <legend>Title</legend>
    <input type="checkbox" name="services[1]" id="services1">
    <label for="services1">one</label>

    <input type="checkbox" name="services[2]" id="services2">
    <label for="services2">two</label>

    <input type="checkbox" name="services[3]" id="services3">
    <label for="services3">three</label>

    <input type="checkbox" name="services[4]" id="services4">
    <label for="services4">four</label>
  </fieldset>

  <input type="submit" value="submit">
</form>
