<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4">
        <a href="#">MASSAGE</a>
      </li>
      <li class="tab col s4">
        <a class="active" href="#">FACIAL / HAIR / SHAVE</a>
      </li>
      <li class="tab col s4">
        <a href="#">MEDICURE / PEDICURE</a>
      </li>

    </ul>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col s4 m3">
      <h6>Signature Massage, 60mins, $180</h6>
      <p>Rejuvenate your body from head to toe. Includes a refreshing scalp massage, face acupressure and tension-taming foot
        massage.
      </p>
    </div>
  </div>



  <div class="row">
    <div class="col s4 m3">
      <div class="divider"></div>
      <h6>Deep Tissue Massage, 60mins, $160</h6>
      <p>Slow, deep pressure and skillful hand movements target stressed muscles, unlock tension and relieve pain. An ideal
        pre or post workout massage.
      </p>
    </div>
  </div>
</div>



<div class="row">
  <div class="col s4 m3">
    <div class="divider"></div>
    <h6>Timesaver Massage, 30mins, $60</h6>
    <p>Using gliding, kneading and pressure point movements, this stress-relieving Swedish method concentrates on releasing
      tension in back, neck and shoulders.
    </p>
  </div>
</div>
</div>
</div>


<div class="row">
  <div class="col s4 m3">
    <h6>GENTLEMAN’S FACIAL, 60mins, $120</h6>
    <p>This customised facial cleanses, hydrates and tones to effectively condition razor burn and address environmental exposure.
      Warm stones ease tension in neck and shoulders.</p>
  </div>
</div>


<h6>SHAMPOO BLOW DRY AND STYLING, 45mins, $40</h6>
<p>Our signature shampoo and condition, including a relaxing scalp massage then followed by a blow dry and styling.</p>

CUSTOMIZED SCALP TREATMENT, 30 mins, $40