<section id="thanks">
  <div class="container">

    <div class="row">
      <div class="col s12" id="booking">
        <h5><strong>Thank you for your booking.</strong></h5>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <h6><u>Booking Confirmation: 114000</u></h6>
          <p>The following booking has been confirmed and you should receive an email. We will see you soon!</p>
          <p>MennStop @ 123 Shan Road</p>
          <h6>Tuesday, 6 February 2018</h6>
          <p><i class="fa fa-check-square-o" aria-hidden="true"></i>Signature Massage at 12.30pm, SGD180</p>
          <p><i class="fa fa-check-square-o" aria-hidden="true"></i>Tradition Shave at 1.30pm, SGD50</p>
          <p>Amount Paid: SGD230</p>
        <a href="/"><button class="book-btn">Book New Appointment</button></a>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6" id="details">
        <p>Under your details:</p>
        <p>Name: Jack Sim</p>
        <p>Email: j.sim@gmail.com</p>
        <p>Phone: +65 9567 8888</p>
      </div>
    </div>

  </div>
</section>
