
<table class="highlight striped">
  <thead>
    <tr>
        <th>Service</th>
        <th>Description</th>
        <th>Price</th>
        <th>Select</th>
    </tr>
  </thead>

  <tbody>
    <% @all_services.each do |service| %>
    <tr>
      <td><%= service.name %></td>
      <td><%= service.description %></td>
      <td><%= service.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>
