<!-- Home Section -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">

      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Massage</a>
        <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Facial</a>
        <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Hair</a>
        <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Shave</a>

        <!-- <%= link_to "about", about_path %> -->

      </div>
  
    </div>
  </div>
  <div class="parallax">
    <img src="images/bg_home.jpg">
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col m4 s12"><a class="active" href="#test1">Test 1</a></li>
      <li class="tab col m4 s12"><a href="#test2">Test 2</a></li>
      <li class="tab col m4 s12"><a href="#test3">Test 3</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">Hello, this is test1</div>
  <div id="test2" class="col s12">Hello, this is test 2</div>
  <div id="test3" class="col s12">Hello, this is test 3</div>
</div>
    </div>

  </div>
</div>
