<div class="container" id="signup-form">

    <form class="col s12" action="/pages/signup" method="post">
        <h3 class="signup"><h3>Sign Up</h3>

            <div class="row">
                <div class="input-field col s12">
                    <input id="firstname" type="text" class="validate" placeholder="First Name">
                </div>
            </div>
              
            <div class="row">
                <div class="input-field col s12">
                    <input id="firstname" type="text" class="validate" placeholder="Last Name">
                </div>
            </div>
  

            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" placeholder="Email Address">
                </div>
            </div>
    
    
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" placeholder="Password">
                </div>
            </div>
    
            <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" placeholder="Confirm Password">
                </div>
            </div>
        
            <p>Already have an account?<br/><a href="/login">Login</a></p>
            
            <p class="full">
            <button>Submit</button>
          </p>
    </form>
</div>