<div class="container-thk">
    <span class="blue-text text-darken-2">
      <h4><strong>THANK YOU FOR YOUR BOOKING.</strong></h4>
        <p>The following booking has been confirmed and you should receive an email. We'll see you soon! </p></span>
        <a class="waves-effect waves-light btn">Book New Appointment</a>
</div>
