html {
    font-family: 'Orienta', 'Anton', sans-serif;
  }

nav .nav-wrapper .white {
position: relative;
height: 80px;
line-height: 80px;
}

td, th {
  line-height: 20px;
  width: 20%;
  border: 1px solid rgb(185, 181, 181);
  text-align: left;
  height: 50px;
  vertical-align: bottom;
  padding: 15px;
  color: black;
}

#table {
  opacity: 0.8;
}

.description {
  width: 100%;
}


#selection {
  color: black;
  opacity: 0.8;
}

.container-about {
  text-align: center;
  height: 870px;
}

.container-contact {
  height: 400px;
}

#about h5 {
  padding-top: 3em;
  
}

#slide-out, h2 {
  color: black;
}


.contact-info {
border: 1px solid black;

}

.icon-block {
  padding-top: 3em;
}

.parallax {
  width: 100%;
  background-size: 100% 100%;
}


#login-form {
  margin-top: 5em;
  border: 0.3em solid burlywood ;
}

form {
  padding: 3em;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  border-color: #ffff;
}

.parallax-container {
  min-height: 1400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


.footer-copyright {
  position: relative;
  width: 100%;
  height: 3em;
  bottom: 0;
  text-align: center;
}


footer.page-footer {
  margin: 0;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
                 border: $radius;
}
