html {
    font-family: 'Orienta', 'Anton', sans-serif;
  }






#login-form {
  margin-top: 5em;
  border: 0.3em solid burlywood ;
}

form {
  padding: 3em;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  border-color: #ffff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


.footer-copyright {
  position: relative;
  // width: 200;
  height: 3em;
  bottom: 0;
  text-align: center;
}


footer.page-footer {
  margin: 0;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
                 border: $radius;
}
// .footer-copyright a:link {
//   text-decoration: none;
// }
//
// .footer-copyright a:hover {
//   text-decoration: underline;
// }
